### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Sub directories
**.idea
**.iml
**/bootstrap.yml


.idea/**
*.iml/**
**/elasticsearch/**
**/logs/**
**/target/**

composer.phar
/vendor/

example/HttpClientTopicaExample.php
